In [91]:
import numpy as np
import pandas as pd

In [92]:
# Step 2

df = pd.read_csv('football.csv')

print(df.isna().sum())

# no missing values!

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [93]:
# Step 3 

print(f"There are {df.shape[0]} tuples in the dataset")
print(f"There are {len(df['tournament'].unique())} tournaments in the dataset")

There are 42650 tuples in the dataset
There are 120 tournaments in the dataset

In [94]:
# Step 4
import datetime as dt
df['date'] = pd.to_datetime(df['date'])

num_tourn_2018 = len(df[(df['date'] >= dt.datetime(2018,1,1)) & (df['date'] <= dt.datetime(2018,12,31))])
print(f"There were {num_tourn_2018} tournaments in 2018")

There were 908 tournaments in 2018

In [ ]:
# Step 5

record_df = df[['home_score','away_score']]

print(record_df)

record_df['away_score'] = np.negative(record_df['away_score'])
df.insert(len(df.columns),'wlt',record_df.apply(np.sum, axis=1))

       home_score  away_score
0               0           0
1               4           2
2               2           1
3               2           2
4               3           0
...           ...         ...
42645           3           1
42646           2           1
42647           1           0
42648           3           0
42649           2           0

[42650 rows x 2 columns]

In [97]:
conditions = [
    (df['wlt'] < 0),
    (df['wlt'] == 0),
    (df['wlt'] > 0)
]

values = ['away win','tie game','home win']

df['outcome'] = np.select(conditions, values, default='error')

df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,wlt,outcome
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0,tie game
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,2,home win
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1,home win
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,0,tie game
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3,home win

In [98]:
print(df['outcome'].value_counts())

outcome
home win    20739
away win    12074
tie game     9837
Name: count, dtype: int64